@charset "UTF-8";
/* 
  mixin name: sf
  arg: x
  desc: SubFrame css
*/
/* 
  mixin name: image
  arg: name, format
  desc: 인자(이미지이름, 파일포맷)받아 이미지 설정
*/
/* 
  mixin name: circle
  arg: size
  desc: 인자(size)를 받아 원을 만듦
*/
@keyframes smoothAppear {
  from {
    opacity: 0;
    transform: translateX(-5%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.HomeSubFrame {
  box-sizing: border-box;
  position: absolute;
  right: 4.514vw;
  left: 4.514vw;
  top: 20vh;
  bottom: 5.556vw;
  background: rgba(255, 255, 255, 0.19);
  border: 0.052vw solid rgba(255, 255, 255, 0.5);
  box-shadow: 0vw 0.209vw 0.209vw rgba(0, 0, 0, 0.25);
  border-radius: 2.083vw;
}
.HomeSubFrame .HomeLeftDiv {
  position: absolute;
  width: 35.9375vw;
  height: 31.25vw;
  left: 4.1667vw;
  top: 2.0833vw;
}
.HomeSubFrame .HomeLeftDiv .HomeCamDiv {
  position: absolute;
  width: 30.5556vw;
  height: 23.6111vw;
  left: 2.0833vw;
  top: 0vw;
  background: url(../../assets/images/man4.jfif);
  background-size: 100% 100%;
  border-radius: 2.0833vw;
}
.HomeSubFrame .HomeLeftDiv .HomeCamDiv .HomeCamImg {
  position: absolute;
  width: 26.0417vw;
  height: 17.3611vw;
  left: 0vw;
  top: 0vw;
  border-radius: 2.0833vw;
}
.HomeSubFrame .HomeLeftDiv .InfoBlurBtn {
  position: absolute;
  width: 2.4306vw;
  height: 2.4306vw;
  left: 33.3333vw;
  top: 11.1111vw;
  background: url(../../assets/images/info.png);
  background-size: 100% 100%;
}
.HomeSubFrame .HomeLeftDiv .CamToggle {
  position: absolute;
  width: 2.2917vw;
  height: 2.2917vw;
  left: 33.3333vw;
  top: 13.8889vw;
  background: url(../../assets/images/camera.png);
  background-size: cover;
}
.HomeSubFrame .HomeLeftDiv .CommBoxFrame2 {
  position: absolute;
  width: 30.5556vw;
  height: 4.8611vw;
  left: 2.0833vw;
  top: 24.3056vw;
  background: #50a1a3;
  border-radius: 1.0417vw;
}
.HomeSubFrame .HomeLeftDiv .CommBoxFrame2 .CommBoxFrameStart {
  position: absolute;
  width: 30.5556vw;
  height: 3.4722vw;
  left: 0vw;
  top: 0.6944vw;
  font-weight: 400;
  font-size: 2.8646vw;
  line-height: 3.4722vw;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
}
.HomeSubFrame .HomeRightDiv {
  position: absolute;
  width: 37.0313vw;
  height: 31.25vw;
  left: 46vw;
  top: 2.0833vw;
  animation: smoothAppear 1s;
}
.HomeSubFrame .HomeRightDiv .HomeRightImgDiv {
  position: absolute;
  width: 38.1944vw;
  height: 23.6111vw;
  left: 0vw;
  top: 0vw;
  border-radius: 2.0833vw;
  transition: all 0.3s;
}
.HomeSubFrame .HomeRightDiv .HomeRightImgDiv .HomeRightImg {
  position: absolute;
  width: 38.1944vw;
  height: 23.6111vw;
  left: 0vw;
  top: 0vw;
  border-radius: 2.0833vw;
}
.HomeSubFrame .HomeRightDiv .HomeRightToolTipDiv {
  position: absolute;
  width: 38.1944vw;
  height: 4.8611vw;
  left: 0vw;
  top: 24.3056vw;
  background: #fffdfd;
  border-radius: 1.0417vw;
}
.HomeSubFrame .HomeRightDiv .HomeRightToolTipDiv .HomeRightToolTipText {
  position: absolute;
  width: 38.1944vw;
  height: 1.875vw;
  left: 0vw;
  top: 1.5vw;
  font-family: "Happy Monkey";
  font-style: normal;
  font-weight: 400;
  font-size: 1.5vw;
  line-height: 1.875vw;
  color: #50a1a3;
}/*# sourceMappingURL=index.css.map */