@use "../../style/common" as mixin;

@keyframes smoothAppear {
  from {
    opacity: 0;
    transform: translateX(-5%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.HomeSubFrame {
  @include mixin.sf;
  // position: absolute;
  // width: 90.6250vw;
  // height: 39.5833vw;
  // left: 4.2708vw;
  // top: 10.9375vw;

  // background: rgba(255, 255, 255, 0.2);
  // border-radius: 2.0833vw;

  .HomeLeftDiv {
    position: absolute;
    width: 35.9375vw;
    height: 31.25vw;
    left: 4.1667vw;
    top: 2.0833vw;

    // width: 25.8vw;
    // height: 22.5vw;
    // left: 3vw;
    // top: 1.5vw;

    .HomeCamDiv {
      position: absolute;
      width: 30.5556vw;
      height: 23.6111vw;
      left: 2.0833vw;
      top: 0vw;

      background: url(../../assets/images/man4.jfif);
      background-size: 100% 100%;
      border-radius: 2.0833vw;

      .HomeCamImg {
        position: absolute;
        width: 26.0417vw;
        height: 17.3611vw;
        left: 0vw;
        top: 0vw;

        border-radius: 2.0833vw;
      }
    }

    .InfoBlurBtn {
      position: absolute;
      width: 2.4306vw;
      height: 2.4306vw;
      left: 33.3333vw;
      top: 11.1111vw;

      background: url(../../assets/images/info.png);
      // background-size: cover;
      background-size: 100% 100%;
    }

    .CamToggle {
      position: absolute;
      width: 2.2917vw;
      height: 2.2917vw;
      left: 33.3333vw;
      top: 13.8889vw;

      background: url(../../assets/images/camera.png);
      background-size: cover;
    }

    .CommBoxFrame2 {
      position: absolute;
      width: 30.5556vw;
      height: 4.8611vw;
      left: 2.0833vw;
      top: 24.3056vw;

      background: #50a1a3;
      border-radius: 1.0417vw;
      .CommBoxFrameStart {
        position: absolute;
        width: 30.5556vw;
        height: 3.4722vw;
        left: 0vw;
        top: 0.6944vw;

        font-weight: 400;
        font-size: 2.8646vw;
        line-height: 3.4722vw;
        text-align: center;
        color: #ffffff;
        cursor: pointer;
      }
    }
  }

  .HomeRightDiv {
    position: absolute;
    width: 37.0313vw;
    height: 31.25vw;
    left: 46vw;
    top: 2.0833vw;
    animation: smoothAppear 1s;

    .HomeRightImgDiv {
      position: absolute;
      width: 38.1944vw;
      height: 23.6111vw;
      left: 0vw;
      top: 0vw;

      // background: url(../../assets/images/HomeRightDiv.png);
      border-radius: 2.0833vw;
      transition: all 0.3s;

      .HomeRightImg {
        position: absolute;
        width: 38.1944vw;
        height: 23.6111vw;
        left: 0vw;
        top: 0vw;

        border-radius: 2.0833vw;
      }
    }

    .HomeRightToolTipDiv {
      position: absolute;
      width: 38.1944vw;
      height: 4.8611vw;
      left: 0vw;
      top: 24.3056vw;

      background: #fffdfd;
      border-radius: 1.0417vw;

      .HomeRightToolTipText {
        position: absolute;
        width: 38.1944vw;
        height: 1.875vw;
        left: 0vw;
        top: 1.5vw;

        font-family: "Happy Monkey";
        font-style: normal;
        font-weight: 400;
        font-size: 1.5vw;
        line-height: 1.875vw;

        color: #50a1a3;
      }
    }
  }
}
