.AlertDiv {
  position: absolute;
  left: 600px;
  right: 600px;
  height: 216px;
  top: 200px;

  background: #ffffff;
  border-radius: 30px;

  z-index: 30;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  .AlertHeader {
    position: absolute;
    height: 54.75px;
    left: 0px;
    right: 0px;
    top: 0px;

    background: #e1f1f2;
    border-radius: 30px 30px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;

    .AlertHeaderText {
      position: absolute;
      width: 320.25px;
      height: 28px;
      top: 13.5px;

      font-style: normal;
      font-weight: 500;
      font-size: 19.5px;
      line-height: 28px;
      text-align: center;
      color: #50a1a3;
    }
  }

  .AlertDesc {
    position: absolute;
    width: 365px;
    height: 52px;
    top: 82px;

    font-weight: 400;
    font-size: 18px;

    color: #50a1a3;
  }

  .AlertBtnDiv {
    position: absolute;
    width: 108px;
    height: 33px;
    top: 153px;
    cursor: pointer;
    background: #50a1a3;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;

    .AlertBtnText {
      position: absolute;
      width: 109px;
      height: 18px;
      top: 7px;

      font-weight: 400;
      font-size: 15px;
      line-height: 18px;

      color: #ffffff;
    }
  }
}
