.hashcheckdiv {
  position: absolute;
  width: 600px;
  height: 70px;
  left: 0%;
  top: -20%;
  z-index: 10;
  display: flex;
  flex-direction: row;

  .hashcheckbox {
    position: relative;
    width: 140px;
    height: 50px;
    left: 0px;
    margin-top: 10px;

    font-size: 20px;
    font-weight: 400px;
    line-height: 35px;
    display: flex;
    align-items: center;

    border: solid white 3px;
    background: #68bbbd;
    border-radius: 30px;
    justify-content: center;
    color: white;
    cursor: pointer;
  }
  :hover {
    background-color: #68bbbd;
    color: white;
    border: solid white 2px;
  }
}
