::-webkit-scrollbar {
  display: none;
}

.SUModal {
  position: absolute;
  width: 460px;
  height: 706.5px;
  left: 493px;
  top: 30px;
  background: #ffffff;
  border-radius: 30px;
  z-index: 30;
  overflow-y: auto;
  overflow-x: hidden;
}
.SUModal .SUModalHeader {
  height: 75px;
  background: #e1f1f2;
  border-radius: 30px 30px 0px 0px;
}
.SUModal .SUModalHeader .SUModalHeaderText {
  font-style: normal;
  font-weight: 500;
  font-size: 27px;
  line-height: 39px;
  text-align: center;
  align-items: center;
  color: #50a1a3;
  width: 430px;
  margin: 0%;
  margin-top: 20px;
  display: inline-block;
}
.SUModal .SUModalHeader .SUModalClose {
  position: absolute;
  right: 20px;
  top: 30px;
  background: url(../../../assets/images/x-mark.png);
  background-size: cover;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.SUModal .SUModalInputIdDiv {
  display: block;
  margin-top: 10px;
  height: 150px;
}
.SUModal .SUModalInputIdDiv .SUModalInputIdLabel {
  font-family: "Happy Monkey";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  /* identical to box height */
  display: block;
  align-items: center;
  color: #000000;
}
.SUModal .SUModalInputIdDiv .SUModalInputIdLabel .SUModalInputIdLabelText {
  position: relative;
  right: 160px;
}
.SUModal .SUModalInputIdDiv .SUModalInputId {
  height: 58px;
  width: 330px;
  padding-left: 10px;
  background: #e1f1f2;
  border-radius: 7.5px;
  border: 0;
}
.SUModal .SUModalInputIdDiv .SUModalInputBTN {
  height: 58px;
  width: 342px;
  display: block;
  margin: auto;
  margin-top: 10px;
  border-radius: 7.5px;
  border: 0;
  background-color: #50a1a3;
  color: #ffffff;
  cursor: pointer;
}
.SUModal .SUModalInputPwDiv {
  height: auto;
  display: block;
  margin-top: 10px;
}
.SUModal .SUModalInputPwDiv .SUModalInputPwLabel {
  font-family: "Happy Monkey";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  /* identical to box height */
  display: block;
  align-items: center;
  color: #000000;
}
.SUModal .SUModalInputPwDiv .SUModalInputPw {
  height: 58px;
  width: 330px;
  padding-left: 10px;
  background: #e1f1f2;
  border-radius: 7.5px;
  border: 0;
}
.SUModal .SUModalInputPwDiv .ShowPassword {
  display: flex;
  align-items: center;
  background: url(../../../assets/images/EyeToggleShow.png);
  background-size: cover;
  color: #000000;
}
.SUModal .SUModalInputPwDiv .HidePassword {
  display: flex;
  align-items: center;
  background: url(../../../assets/images/EyeToggleHidden.png);
  background-size: cover;
  color: #000000;
}
.SUModal .SUModalInputPwDiv .SUModalInputPwLabelText {
  position: relative;
  right: 155px;
}
.SUModal .SUModalInputPwChkDiv {
  height: auto;
  display: block;
  margin-top: 10px;
}
.SUModal .SUModalInputPwChkDiv .SUModalInputPwChkLabel {
  font-family: "Happy Monkey";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  /* identical to box height */
  display: block;
  align-items: center;
  color: #000000;
}
.SUModal .SUModalInputPwChkDiv .SUModalInputPwChkLabel .SUModalInputPwChkLabelText {
  position: relative;
  right: 132px;
}
.SUModal .SUModalInputPwChkDiv .SUModalInputPwChk {
  height: 58px;
  width: 330px;
  padding-left: 10px;
  background: #e1f1f2;
  border-radius: 7.5px;
  border: 0;
}
.SUModal .SUModalInputEmailDiv {
  height: 150px;
  display: block;
  margin-top: 10px;
}
.SUModal .SUModalInputEmailDiv .SUModalInputEmailLabel {
  font-family: "Happy Monkey";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  /* identical to box height */
  display: block;
  align-items: center;
  color: #000000;
}
.SUModal .SUModalInputEmailDiv .SUModalInputEmailLabelText {
  position: relative;
  right: 144px;
}
.SUModal .SUModalInputEmailDiv .SUModalInputEmail {
  height: 58px;
  padding-left: 10px;
  width: 330px;
  background: #e1f1f2;
  border-radius: 10px;
  border: 0;
}
.SUModal .SUModalInputEmailDiv .SUModalSendEmail {
  height: 58px;
  width: 342px;
  display: block;
  margin: auto;
  margin-top: 10px;
  border-radius: 7.5px;
  border: 0;
  background-color: #50a1a3;
  color: #ffffff;
  cursor: pointer;
}
.SUModal .SUModalInputEmailConfirmDiv {
  height: auto;
  display: block;
  margin-top: 10px;
}
.SUModal .SUModalInputEmailConfirmDiv .SUModalInputEmailConfirmLabel {
  font-family: "Happy Monkey";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  /* identical to box height */
  display: block;
  align-items: center;
  color: #000000;
}
.SUModal .SUModalInputEmailConfirmDiv .SUModalInputEmailConfirmLabel .SUModalInputEmailConfirmLabelText {
  position: relative;
  right: 110px;
}
.SUModal .SUModalInputEmailConfirmDiv .SUModalInputEmailConfirm {
  height: 58px;
  padding-left: 10px;
  width: 330px;
  background: #e1f1f2;
  border-radius: 10px;
  border: 0;
}
.SUModal .SUModalInputEmailConfirmDiv .SUModalEmailBTN {
  height: 58px;
  width: 342px;
  display: block;
  margin: auto;
  margin-top: 10px;
  border-radius: 7.5px;
  border: 0;
  background-color: #50a1a3;
  color: #ffffff;
  cursor: pointer;
}
.SUModal .SUSignUpBtn {
  cursor: pointer;
  width: 342px;
  height: 56px;
  margin-top: 30px;
  background: #50a1a3;
  color: #ffffff;
  border-radius: 10px;
}
.SUModal .SUSignUpBtn .SUBtnText {
  font-family: "Happy Monkey";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  /* identical to box height */
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
}
.SUModal .SUCancleBtn {
  cursor: pointer;
  width: 342px;
  height: 56px;
  margin-top: 10px;
  background: #e1f1f2;
  border-radius: 10px;
}
.SUModal .SUCancleBtn .SUCancleBtnText {
  font-family: "Happy Monkey";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  /* identical to box height */
  display: flex;
  align-items: center;
  text-align: center;
  color: #50a1a3;
}
.SUModal .PlaceHolder {
  position: absolute;
  width: 10px;
  height: 10px;
  left: 66px;
  top: 920px;
}/*# sourceMappingURL=signUp.css.map */