::-webkit-scrollbar {
  display: none;
}

.SUModal {
  position: absolute;
  width: 460px;
  height: 706.5px;
  left: 493px;
  top: 30px;

  background: #ffffff;
  border-radius: 30px;
  z-index: 30;

  overflow-y: auto;
  overflow-x: hidden;

  .SUModalHeader {
    height: 75px;
    background: #e1f1f2;
    border-radius: 30px 30px 0px 0px;

    .SUModalHeaderText {
      font-style: normal;
      font-weight: 500;
      font-size: 27px;
      line-height: 39px;
      text-align: center;
      align-items: center;
      color: #50a1a3;
      width: 430px;
      margin: 0%;
      margin-top: 20px;

      display: inline-block;
    }

    .SUModalClose {
      position: absolute;
      right: 20px;
      top: 30px;
      background: url(../../../assets/images/x-mark.png);
      background-size: cover;
      width: 30px;
      height: 30px;

      cursor: pointer;
    }
  }

  .SUModalInputIdDiv {
    display: block;
    margin-top: 10px;

    height: 150px;
    .SUModalInputIdLabel {
      font-family: "Happy Monkey";
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 18px;
      /* identical to box height */

      display: block;
      align-items: center;

      color: #000000;

      .SUModalInputIdLabelText {
        position: relative;
        right: 160px;
      }
    }

    .SUModalInputId {
      height: 58px;
      width: 330px;
      padding-left: 10px;

      background: #e1f1f2;
      border-radius: 7.5px;
      border: 0;
    }

    .SUModalInputBTN {
      height: 58px;
      width: 342px;
      display: block;
      margin: auto;
      margin-top: 10px;
      border-radius: 7.5px;
      border: 0;
      background-color: #50a1a3;
      color: #ffffff;

      cursor: pointer;
    }
  }

  .SUModalInputPwDiv {
    height: auto;
    display: block;
    margin-top: 10px;
    .SUModalInputPwLabel {
      font-family: "Happy Monkey";
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 18px;
      /* identical to box height */

      display: block;
      align-items: center;

      color: #000000;
    }

    .SUModalInputPw {
      height: 58px;
      width: 330px;
      padding-left: 10px;

      background: #e1f1f2;
      border-radius: 7.5px;
      border: 0;
    }

    .ShowPassword {
      display: flex;
      align-items: center;
      background: url(../../../assets/images/EyeToggleShow.png);
      background-size: cover;

      color: #000000;
    }

    .HidePassword {
      display: flex;
      align-items: center;
      background: url(../../../assets/images/EyeToggleHidden.png);
      background-size: cover;

      color: #000000;
    }

    .SUModalInputPwLabelText {
      position: relative;
      right: 155px;
    }
  }

  .SUModalInputPwChkDiv {
    height: auto;
    display: block;
    margin-top: 10px;
    .SUModalInputPwChkLabel {
      font-family: "Happy Monkey";
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 18px;

      /* identical to box height */

      display: block;
      align-items: center;

      color: #000000;

      .SUModalInputPwChkLabelText {
        position: relative;
        right: 132px;
      }
    }

    .SUModalInputPwChk {
      height: 58px;
      width: 330px;
      padding-left: 10px;

      background: #e1f1f2;
      border-radius: 7.5px;
      border: 0;
    }
  }

  .SUModalInputEmailDiv {
    height: 150px;
    display: block;
    margin-top: 10px;
    .SUModalInputEmailLabel {
      font-family: "Happy Monkey";
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 18px;
      /* identical to box height */

      display: block;
      align-items: center;

      color: #000000;
    }

    .SUModalInputEmailLabelText {
      position: relative;
      right: 144px;
    }

    .SUModalInputEmail {
      height: 58px;
      padding-left: 10px;
      width: 330px;

      background: #e1f1f2;
      border-radius: 10px;
      border: 0;
    }

    .SUModalSendEmail {
      height: 58px;
      width: 342px;
      display: block;
      margin: auto;
      margin-top: 10px;
      border-radius: 7.5px;
      border: 0;
      background-color: #50a1a3;
      color: #ffffff;

      cursor: pointer;
    }
  }

  .SUModalInputEmailConfirmDiv {
    height: auto;
    display: block;
    margin-top: 10px;
    .SUModalInputEmailConfirmLabel {
      font-family: "Happy Monkey";
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 18px;
      /* identical to box height */

      display: block;
      align-items: center;

      color: #000000;

      .SUModalInputEmailConfirmLabelText {
        position: relative;
        right: 110px;
      }
    }

    .SUModalInputEmailConfirm {
      height: 58px;
      padding-left: 10px;
      width: 330px;

      background: #e1f1f2;
      border-radius: 10px;
      border: 0;
    }

    .SUModalEmailBTN {
      height: 58px;
      width: 342px;
      display: block;
      margin: auto;
      margin-top: 10px;
      border-radius: 7.5px;
      border: 0;
      background-color: #50a1a3;
      color: #ffffff;

      cursor: pointer;
    }
  }

  .SUSignUpBtn {
    cursor: pointer;

    width: 342px;
    height: 56px;
    margin-top: 30px;

    background: #50a1a3;
    color: #ffffff;
    border-radius: 10px;

    .SUBtnText {
      font-family: "Happy Monkey";
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 18px;
      /* identical to box height */

      display: flex;
      align-items: center;
      text-align: center;

      color: #ffffff;
    }
  }

  .SUCancleBtn {
    cursor: pointer;

    width: 342px;
    height: 56px;
    margin-top: 10px;

    background: #e1f1f2;
    border-radius: 10px;

    .SUCancleBtnText {
      font-family: "Happy Monkey";
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 18px;
      /* identical to box height */

      display: flex;
      align-items: center;
      text-align: center;

      color: #50a1a3;
    }
  }

  .PlaceHolder {
    position: absolute;
    width: 10px;
    height: 10px;
    left: 66px;
    top: 920px;
  }
}
