::-webkit-scrollbar {
  display: none;
}

.SUModal {
  position: absolute;
  width: 453px;
  height: 706.5px;
  left: 493.5px;
  top: 30px;

  background: #ffffff;
  border-radius: 30px;
  z-index: 30;

  overflow-y: auto;
  overflow-x: hidden;

  .SUModalHeader {
    height: 75px;
    background: #e1f1f2;
    border-radius: 30px 30px 0px 0px;

    .SUModalHeaderText {
      font-style: normal;
      font-weight: 500;
      font-size: 27px;
      line-height: 39px;
      text-align: center;
      align-items: center;
      color: #50a1a3;
      width: 430px;
      margin: 0%;

      display: inline-block;
    }

    .SUModalClose {
      background: #e1f1f2;

      cursor: pointer;
    }
  }

  .SUModalInputIdDiv {
    display: block;

    height: 140px;
    .SUModalInputIdLabel {
      font-family: "Happy Monkey";
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 18px;
      /* identical to box height */

      display: block;
      align-items: center;

      color: #000000;
    }

    .SUModalInputId {
      height: 58px;
      width: 330px;
      padding-left: 10px;

      background: #e1f1f2;
      border-radius: 7.5px;
      border: 0;
    }

    .SUModalInputBTN {
      height: 40px;
      width: 330px;
      display: block;
      margin: auto;
      border-radius: 7.5px;
      border: 0;
    }
  }

  .SUModalInputPwDiv {
    height: auto;
    display: block;
    .SUModalInputPwLabel {
      font-family: "Happy Monkey";
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 18px;
      /* identical to box height */

      display: block;
      align-items: center;

      color: #000000;
    }

    .SUModalInputPw {
      height: 58px;
      width: 330px;
      padding-left: 10px;

      background: #e1f1f2;
      border-radius: 7.5px;
      border: 0;
    }

    .ShowPassword {
      display: flex;
      align-items: center;
      background: url(../../../assets/images/EyeToggleShow.png);
      background-size: cover;

      color: #000000;
    }

    .HidePassword {
      display: flex;
      align-items: center;
      background: url(../../../assets/images/EyeToggleHidden.png);
      background-size: cover;

      color: #000000;
    }
  }

  .SUModalInputPwChkDiv {
    height: auto;
    display: block;
    .SUModalInputPwChkLabel {
      font-family: "Happy Monkey";
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 18px;
      /* identical to box height */

      display: block;
      align-items: center;

      color: #000000;
    }

    .SUModalInputPwChk {
      height: 58px;
      width: 330px;
      padding-left: 10px;

      background: #e1f1f2;
      border-radius: 7.5px;
      border: 0;
    }
  }

  .SUModalInputEmailDiv {
    height: auto;
    display: block;
    .SUModalInputEmailLabel {
      font-family: "Happy Monkey";
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 18px;
      /* identical to box height */

      display: block;
      align-items: center;

      color: #000000;
    }

    .SUModalInputEmail {
      height: 58px;
      padding-left: 10px;
      width: 330px;

      background: #e1f1f2;
      border-radius: 10px;
      border: 0;
    }

    .SUModalSendEmail {
      height: 60px;
      display: inline-block;
    }
  }

  .SUModalInputEmailConfirmDiv {
    height: auto;
    display: block;
    .SUModalInputEmailConfirmLabel {
      font-family: "Happy Monkey";
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 18px;
      /* identical to box height */

      display: block;
      align-items: center;

      color: #000000;
    }

    .SUModalInputEmailConfirm {
      height: 58px;
      padding-left: 10px;
      width: 330px;

      background: #e1f1f2;
      border-radius: 10px;
      border: 0;
    }

    .SUModalEmailBTN {
      height: 60px;
      width: 200px;
      display: block;
    }
  }

  .SUSignUpBtn {
    cursor: pointer;

    width: 330px;
    height: 56px;

    background: #50a1a3;
    color: #ffffff;
    border-radius: 10px;

    .SUBtnText {
      font-family: "Happy Monkey";
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 18px;
      /* identical to box height */

      display: flex;
      align-items: center;
      text-align: center;

      color: #ffffff;
    }
  }

  .SUCancleBtn {
    cursor: pointer;

    width: 330px;
    height: 56px;

    background: #e1f1f2;
    border-radius: 10px;

    .SUCancleBtnText {
      font-family: "Happy Monkey";
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 18px;
      /* identical to box height */

      display: flex;
      align-items: center;
      text-align: center;

      color: #50a1a3;
    }
  }

  .PlaceHolder {
    position: absolute;
    width: 10px;
    height: 10px;
    left: 66px;
    top: 920px;
  }
}
